:host {
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.title {
    margin-top: 3rem;
    color: white;
    font-size: 50px;
}
.login-ctn-title{
    margin-top: 1rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 4rem;
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
}


.login-container p {
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;
}

.input-container input{
    width: 17rem;
}
